{% extends 'base.html.twig' %}

{% block body %}
    <h2> {{name}}</h2>
    <div id="userInfoShowDiv"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/show_userInfo_react.js') }}"></script>

    <script type="text/babel">

        ReactDOM.render(
            <User />,
        document.getElementById('userInfoShowDiv')
        );
    </script>
{% endblock %}